<ng-container *ngIf="classes">
  <div class="grid">
    <div class="calendar">
      <table id="table">
          <thead>
            <td></td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
          </thead>
          <tr *ngFor="let time of intervals">
            <td>{{ time }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
    </div>
    <div class="class">
      <form #f="ngForm" (ngSubmit)="addClass(f.value)" id="addClassForm" novalidate autocomplete="off">
          <input type="text" name="query" id="query" (keyup)="filterList($event.target)" [(ngModel)]="input.query" #query="ngModel">
          <button type="submit">Add Class</button>
        </form>
        <table id="results">
          <tr *ngFor="let class of results">
            <td class="result" (click)="setToInput(class)">
              <div>
                {{ class.cid }}
              </div>
              <div>
                {{ class.name }}
              </div>
            </td>
          </tr>
        </table>
      <table>
          <tr *ngFor="let class of schedule">
            <td>{{ class[0].name }}</td>
            <td>{{ class[0].cid }}</td>
            <table *ngFor="let section of class">
              <tr><td>{{ section.sectionNum }}</td></tr>
              <tr><td>{{ section.dates }}</td></tr>
              <tr><td *ngIf="section.startTime">{{ section.startTime }}</td></tr>
              <tr><td *ngIf="section.endTime">{{ section.endTime }}</td></tr>
            </table>
          </tr>
        </table>
    </div>
  </div>
</ng-container>